In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

#Create a database called "mydatabase"
mydb = myclient["mydatabase"]

In [3]:
#Check if Database Exists
"""
Remember: In MongoDB, a database is not created until it gets content, 
so if this is your first time creating a database, you should complete 
the next two chapters (create collection and create document) before you 
check if the database exists!
"""
print(myclient.list_database_names())

['admin', 'config', 'local']

In [4]:
#Check if "mydatabase" exists:

dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")

In [5]:
#Create a collection called "customers" (A Table)
#Important: In MongoDB, a collection is not created until it gets content!

mycol = mydb["customers"]

In [6]:
#Check if Collection Exists
"""
Remember: In MongoDB, a collection is not created until it gets content, 
so if this is your first time creating a collection, you should complete 
the next chapter (create document) before you check if the collection 
exists!
"""
print(mydb.list_collection_names())

[]

In [7]:
#Check if the "customers" collection exists:

collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")

In [8]:
#Insert a record in the "customers" collection:

mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

In [9]:
#Return the _id Field
#Insert another record in the "customers" collection, and return the value of 
#the _id field:

mydict = { "name": "Peter", "address": "Lowstreet 27" }
x = mycol.insert_one(mydict)
print(x.inserted_id) 

"""
if you do not specify an _id field, then MongoDB will add one for you and 
assign a unique id for each document.

In the example above no _id field was specified, so MongoDB assigned 
a unique _id for the record (document).
"""

5da49db433ab8b08c0229b28

'\nif you do not specify an _id field, then MongoDB will add one for you and \nassign a unique id for each document.\n\nIn the example above no _id field was specified, so MongoDB assigned \na unique _id for the record (document).\n'

In [10]:
# Insert Multiple Documents
"""
To insert multiple documents into a collection in MongoDB, we use the 
insert_many() method.

The first parameter of the insert_many() method is a list containing 
dictionaries with the data you want to insert:
"""
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5da49db433ab8b08c0229b29'), ObjectId('5da49db433ab8b08c0229b2a'), ObjectId('5da49db433ab8b08c0229b2b'), ObjectId('5da49db433ab8b08c0229b2c'), ObjectId('5da49db433ab8b08c0229b2d'), ObjectId('5da49db433ab8b08c0229b2e'), ObjectId('5da49db433ab8b08c0229b2f'), ObjectId('5da49db433ab8b08c0229b30'), ObjectId('5da49db433ab8b08c0229b31'), ObjectId('5da49db433ab8b08c0229b32'), ObjectId('5da49db433ab8b08c0229b33'), ObjectId('5da49db433ab8b08c0229b34')]

In [11]:
#Insert Multiple Documents, with Specified IDs

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids) 
print('')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
#Find One
"""
To select data from a collection in MongoDB, we can use the find_one() 
method.
The find_one() method returns the first occurrence in the selection.
"""

x = mycol.find_one()
print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John', 'address': 'Highway 37'}

In [13]:
#Find All (Select * from RDBMS)
"""
To select data from a table in MongoDB, we can also use the find() method.
The find() method returns all occurrences in the selection.
The first parameter of the find() method is a query object. 
In this example we use an empty query object, which selects all documents 
in the collection.
"""

for x in mycol.find():
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5da49db433ab8b08c0229b28'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5da49db433ab8b08c0229b29'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5da49db433ab8b08c0229b2a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5da49db433ab8b08c0229b2c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b2d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b2f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5da49db433ab8b08c0229b32'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5da49db433ab8b08c0229b33'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [14]:
#Return Only Some Fields
"""
The second parameter of the find() method is an object describing which 
fields to include in the result.
This parameter is optional, and if omitted, all fields will be included 
in the result.
"""

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [15]:
"""
You are not allowed to specify both 0 and 1 values in the same object 
(except if one of the fields is the _id field). If you specify a field 
with the value 0,  all other fields get the value 1, and vice versa:
"""

#This example will exclude "address" from the result:
for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John'}
{'_id': ObjectId('5da49db433ab8b08c0229b28'), 'name': 'Peter'}
{'_id': ObjectId('5da49db433ab8b08c0229b29'), 'name': 'Amy'}
{'_id': ObjectId('5da49db433ab8b08c0229b2a'), 'name': 'Hannah'}
{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael'}
{'_id': ObjectId('5da49db433ab8b08c0229b2c'), 'name': 'Sandy'}
{'_id': ObjectId('5da49db433ab8b08c0229b2d'), 'name': 'Betty'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard'}
{'_id': ObjectId('5da49db433ab8b08c0229b2f'), 'name': 'Susan'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky'}
{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben'}
{'_id': ObjectId('5da49db433ab8b08c0229b32'), 'name': 'William'}
{'_id': ObjectId('5da49db433ab8b08c0229b33'), 'name': 'Chuck'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [16]:
#Python MongoDB Query
#Filter the Result
"""
When finding documents in a collection, you can filter the result 
by using a query object.

The first argument of the find() method is a query object, and is used 
to limit the search.
"""
#Example: Find document(s) with the address "Park Lane 38"

myquery = { "address": "Park Lane 38" }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [17]:
#Advanced Query
"""
To make advanced queries you can use modifiers as values in the query object.
E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), 
use the greater than modifier: {"$gt": "S"}:
"""
#Example: Find documents where the address starts with the letter "S" or higher:

myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [18]:
#Example: Find documents where the address starts with the letter "S":

myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [19]:
#Python MongoDB Sort - Sort the Result
"""
Use the sort() method to sort the result in ascending or descending order.
The sort() method takes one parameter for "fieldname" and one parameter 
for "direction" (ascending is the default direction).
"""
#Example:  Sort the result alphabetically by name:

mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b29'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5da49db433ab8b08c0229b2d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5da49db433ab8b08c0229b33'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5da49db433ab8b08c0229b2a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5da49db433ab8b08c0229b28'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b2c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b2f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5da49db433ab8b08c0229b32'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [20]:
# Sort Descending:
#sort("name", 1) #ascending
#sort("name", -1) #descending

mydoc = mycol.find().sort("name", -1)
for x in mydoc:
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b32'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b2f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5da49db433ab8b08c0229b2c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b28'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5da49db433ab8b08c0229b2a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5da49db433ab8b08c0229b33'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5da49db433ab8b08c0229b2d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5da49db433ab8b08c0229b29'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [21]:
#Update Collection
"""
You can update a record, or document as it is called in MongoDB, 
by using the update_one() method.
The first parameter of the update_one() method is a query object defining 
which document to update.
The second parameter is an object defining the new values of the document.
Note: If the query finds more than one record, only the first occurrence 
is updated.
"""
#Example: Change the address from "Valley 345" to "Canyon 123":

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5da49db433ab8b08c0229b27'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5da49db433ab8b08c0229b28'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5da49db433ab8b08c0229b29'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5da49db433ab8b08c0229b2a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5da49db433ab8b08c0229b2b'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5da49db433ab8b08c0229b2c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b2d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5da49db433ab8b08c0229b2e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5da49db433ab8b08c0229b2f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5da49db433ab8b08c0229b30'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5da49db433ab8b08c0229b31'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5da49db433ab8b08c0229b32'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5da49db433ab8b08c0229b33'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5da49db433ab8b08c0229b34'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [22]:
# Update Many
"""
To update all documents that meets the criteria of the query, 
use the update_many() method.
"""
#Example: Update all documents where the address starts with the letter "S"

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

4 documents updated.

In [23]:
#Python MongoDB Delete Document
#Delete Document
"""
To delete one document, we use the delete_one() method.
The first parameter of the delete_one() method is a 
query object defining which document to delete.
"""
#Note: If the query finds more than one document, 
# only the first occurrence is deleted.

myquery = { "address": "Mountain 21" }
mycol.delete_one(myquery)

In [24]:
#Delete Many Documents
"""
To delete more than one document, use the delete_many() method.
The first parameter of the delete_many() method is a query object 
defining which documents to delete.
"""
#Example: Delete all documents were the address starts with the letter S:

myquery = { "address": {"$regex": "^S"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [25]:
# Delete All Documents in a Collection
"""
To delete all documents in a collection, 
pass an empty query object to the delete_many() method:
"""
#Example:  Delete all documents in the "customers" collection

x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

23  documents deleted.

In [26]:
#Python MongoDB Drop Collection
"""
You can delete a table, or collection as it is called in MongoDB, 
by using the drop() method.
"""
#Example: Delete the "customers" collection
#The drop() method returns true if the collection was dropped successfully, 
#and false if the collection does not exist.

mycol.drop()