In [26]:
import mysql.connector

In [27]:
mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  passwd="password"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002653EC17EF0>

In [28]:
# Creating a Database
#To create a database in MySQL, use the "CREATE DATABASE" statement:

mycursor = mydb.cursor()
mycursor.execute ("DROP DATABASE mydatabase")
mycursor.execute("CREATE DATABASE mydatabase")

In [32]:
# Check if Database Exists

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [40]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="password",
  database="mydatabase"  #Selected Database!
)

mycursor = mydb.cursor()

#mycursor.execute("DROP TABLE customers")
mycursor.execute("CREATE TABLE customers(name VARCHAR(255), address VARCHAR(255))")
#mycursor.execute("CREATE TABLE IF NOT EXITS customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [41]:
#Insert Into Table
#Insert a record in the "customers" table:

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [52]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [53]:
#Select From a Table
#Select all records from the "customers" table, and display the result:

mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('John', 'Highway 21')

In [55]:
#Select With a Filter
#Select record(s) where the address is "Park Lane 38": result:

#Seharusnya Highway 21.

sql = "SELECT * FROM customers WHERE address ='Park Lane 38'" 
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In [56]:
#Wildcard Characters
#Select records where the address contains the word "way":

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"
mycursor.execute(sql)
myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')

In [57]:
#Sort the Result
#Sort the result alphabetically by name: result:

sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('John', 'Highway 21')

In [59]:
#Update Table
#Overwrite the address column from "Valley 345" to "Canyoun 123":

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [60]:
#Prevent SQL Injection
"""
It is considered a good practice to escape the values of any query, 
also in update statements.
This is to prevent SQL injections, which is a common web hacking 
technique to destroy or misuse your database.
The mysql.connector module uses the placeholder %s to escape values 
in the delete statement:
"""

#Escape values by using the placholder %s method:

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [61]:
#Limit the Result
#Select the 5 first records in the "customers" table:

mycursor.execute("SELECT * FROM customers LIMIT 5")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('John', 'Highway 21')

In [58]:
#Delete Record
#Delete any record where the address is "Mountain 21":

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
#Delete a Table
#Delete the table "customers":

sql = "DROP TABLE customers"
mycursor.execute(sql)